*.deps
*.pyc
*.exe
*.h1
*.keys
*.la
*.libs
*.lo
*.mime
*.nsi
*.o
*.orig
*.pc
*.rej
*.spec
*.xml
*~
_debug/
_production/
_packages/

.kdev4/

# ---- MacOS thumbnails ------------
.DS_Store

# ------------------------------------------------------------------------

# generated in ETL, core and studio
# TODO: clean this up when autotools->cmake switch is complete
*-config
ABOUT-NLS
Makefile.in.in
Makevars.template
POTFILES
Rules-quot
aclocal.m4
autom4te.cache
boldquot.sed
config.*
!config.h.cmake.in
configure
depcomp
en@boldquot.header
en@quot.header
insert-header.sin
install-sh
libtool
ltmain.sh
missing
quot.sed
remove-potcdate.sed
remove-potcdate.sin
stamp-h1
stamp-po
test-driver
compile
.dirstamp

/_debug/
/_production/
/_release/
/build.conf

# ------------------------------------------------------------------------

cmake-build

ETL/ETL.pc.in
ETL/ETL/etl_profile.h
ETL/ETL/etl_profile_.h
ETL/ETL/etl_profile_.h.in

synfig-core/libltdl
synfig-core/pkg-info/macosx/synfig-core.info
synfig-core/po/*.gmo
synfig-core/po/stamp-it
synfig-core/po/synfig.pot
synfig-core/src/modules/synfig_modules.cfg
synfig-core/src/synfig/proto/nodebase.h
synfig-core/src/tool/synfig
synfig-core/synfig.pc.in

synfig-core/autorevision.h
synfig-core/m4/codeset.m4
synfig-core/m4/gettext.m4
synfig-core/m4/glibc2.m4
synfig-core/m4/glibc21.m4
synfig-core/m4/iconv.m4
synfig-core/m4/intdiv0.m4
synfig-core/m4/inttypes.m4
synfig-core/m4/inttypes-h.m4
synfig-core/m4/inttypes_h.m4
synfig-core/m4/inttypes-pri.m4
synfig-core/m4/intmax.m4
synfig-core/m4/isc-posix.m4
synfig-core/m4/lcmessage.m4
synfig-core/m4/lib-ld.m4
synfig-core/m4/lib-link.m4
synfig-core/m4/lib-prefix.m4
synfig-core/m4/lock.m4
synfig-core/m4/longdouble.m4
synfig-core/m4/longlong.m4
synfig-core/m4/po.m4
synfig-core/m4/progtest.m4
synfig-core/m4/nls.m4
synfig-core/m4/printf-posix.m4
synfig-core/m4/uintmax_t.m4
synfig-core/m4/ulonglong.m4
synfig-core/m4/signed.m4
synfig-core/m4/size_max.m4
synfig-core/m4/stdint_h.m4
synfig-core/m4/visibility.m4
synfig-core/m4/wchar_t.m4
synfig-core/m4/wint_t.m4
synfig-core/m4/xsize.m4
synfig-core/m4/argz.m4
synfig-core/m4/libtool.m4
synfig-core/m4/ltargz.m4
synfig-core/m4/ltdl.m4
synfig-core/m4/ltoptions.m4
synfig-core/m4/ltsugar.m4
synfig-core/m4/ltversion.m4
synfig-core/m4/lt~obsolete.m4

synfig-studio/autorevision.h
synfig-studio/images/128x128
synfig-studio/images/16x16
synfig-studio/images/22x22
synfig-studio/images/24x24
synfig-studio/images/32x32
synfig-studio/images/48x48
synfig-studio/images/64x64
synfig-studio/images/*.png
synfig-studio/images/*.bmp
synfig-studio/images/*.ico
synfig-studio/images/images.nsh
synfig-studio/images/unimages.nsh
synfig-studio/images/icons.nsh
synfig-studio/images/unicons.nsh
synfig-studio/m4/codeset.m4
synfig-studio/m4/gettext.m4
synfig-studio/m4/glibc21.m4
synfig-studio/m4/glibc2.m4
synfig-studio/m4/iconv.m4
synfig-studio/m4/intdiv0.m4
synfig-studio/m4/intmax.m4
synfig-studio/m4/inttypes-h.m4
synfig-studio/m4/inttypes_h.m4
synfig-studio/m4/inttypes.m4
synfig-studio/m4/inttypes-pri.m4
synfig-studio/m4/isc-posix.m4
synfig-studio/m4/lcmessage.m4
synfig-studio/m4/lib-ld.m4
synfig-studio/m4/lib-link.m4
synfig-studio/m4/lib-prefix.m4
synfig-studio/m4/lock.m4
synfig-studio/m4/longdouble.m4
synfig-studio/m4/longlong.m4
synfig-studio/m4/nls.m4
synfig-studio/m4/po.m4
synfig-studio/m4/printf-posix.m4
synfig-studio/m4/progtest.m4
synfig-studio/m4/signed.m4
synfig-studio/m4/size_max.m4
synfig-studio/m4/stdint_h.m4
synfig-studio/m4/uintmax_t.m4
synfig-studio/m4/ulonglong.m4
synfig-studio/m4/visibility.m4
synfig-studio/m4/wchar_t.m4
synfig-studio/m4/wint_t.m4
synfig-studio/m4/xsize.m4
synfig-studio/m4/libtool.m4
synfig-studio/m4/ltdl.m4
synfig-studio/m4/ltoptions.m4
synfig-studio/m4/ltsugar.m4
synfig-studio/m4/ltversion.m4
synfig-studio/m4/lt~obsolete.m4
synfig-studio/pkg-info/macosx/synfig-studio.info
synfig-studio/po/*.gmo
synfig-studio/po/.intltool-merge-cache
synfig-studio/po/synfigstudio.pot
synfig-studio/po/stamp-it
synfig-studio/src/gui/synfigstudio
synfig-studio/synfigstudio-thumbnailer.schemas
synfig-studio/tmpwrk*
synfig-studio/org.synfig.SynfigStudio.desktop

# ------------------------------------------------------------------------

# files we used to check in, but don't any more
COPYING
ChangeLog
doxygen.cfg
INSTALL
Makefile.in
Makefile

# ------------------------------------------------------------------------


# don't track .sif and .sifz files:
*.sif
*.sifz

# except for the ones we know about - core examples, core examples/walk and studio images:

!synfig-core/examples/*.sif
!synfig-core/examples/walk/*.sif

!synfig-studio/images/*.sif

synfig-studio/images/splash_screen_development.sif

# ------------------------------------------------------------------------
# These are executables produced by 'make check' in ETL/trunk
# ------------------------------------------------------------------------

ETL/test/angle
ETL/test/benchmark
ETL/test/clock
ETL/test/fixed
ETL/test/handle
ETL/test/hermite
ETL/test/pen
ETL/test/smach
ETL/test/smart_ptr
ETL/test/stringf
ETL/test/surface

# doxygen-generated docs
ETL/doc
synfig-core/doc
synfig-studio/doc
/.project
/.cproject
/.settings/

# ------------------------------------------------------------------------
# Netbeans projects
# ------------------------------------------------------------------------
/nbproject/
/ETL/nbproject/
/synfig-core/nbproject/
/synfig-studio/nbproject/

# ------------------------------------------------------------------------
# CLion projects
# ------------------------------------------------------------------------
/.idea
cmake-build-*

# ------------------------------------------------------------------------
# snapcraft artifacts
# ------------------------------------------------------------------------
*.snap

# ------------------------------------------------------------------------ 
# Visual Studio 2019 projects 
# ------------------------------------------------------------------------ 
/.vs 
/out 
CMakeSettings.json

# ------------------------------------------------------------------------ 
# QtCreator IDE
# ------------------------------------------------------------------------ 
build-synfig-*
CMakeLists.txt.user
