language: cpp

git:
  depth: 1
  submodules: false

env:
  global:
    - BUILD_FILENAME="build-$TRAVIS_OS_NAME.$TRAVIS_BUILD_NUMBER-$(date '+%Y-%m-%d_%H_%M_%S').tgz"
    - MAKE_THREADS=4

matrix:
  include:

  - os: linux
    name: "Synfig Studio Ubuntu 18.04 Bionic (Check appdata.xml)"
    sudo: required
    dist: bionic
    before_install:
      - sudo apt update && sudo apt install flatpak
      - sudo flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
      - sudo flatpak install flathub org.freedesktop.appstream-glib -y
    script: sudo flatpak run org.freedesktop.appstream-glib validate synfig-studio/org.synfig.SynfigStudio.appdata.xml.in

  - os: linux
    name: "Synfig Studio Ubuntu 16.04 Xenial (GCC/Autotools)"
    sudo: required
    dist: xenial
    cache: ccache
    before_install: ./1-setup-linux-native.sh
    before_script:
      - ccache -s
      - ccache --set-config=compression=true
    script: ./travis.sh

  - os: linux
    if: false
    name: "Distcheck - Synfig Studio Ubuntu 16.04 Xenial (GCC/Autotools)"
    sudo: required
    dist: xenial
    cache: ccache
    before_install: ./1-setup-linux-native.sh
    before_script:
      - ccache -s
      - ccache --set-config=compression=true
    script: ./travis.sh distcheck

  - os: linux
    name: "Synfig Studio Ubuntu 16.04 Xenial (CMake/Ninja)"
    env: CMAKE=true
    sudo: required
    dist: xenial
    cache: ccache
    before_install: sudo apt-get install ninja-build && ./1-setup-linux-native.sh
    before_script:
      - ccache -s
      - ccache --set-config=compression=true
    script: mkdir -p build && cd build && cmake .. -GNinja && ninja
    after_script: ccache -s # show ccache stats

  - os: linux
    name: "Test render engine for regressions"
    sudo: required
    dist: xenial
    cache: ccache
    before_install: ./1-setup-linux-native.sh
    before_script:
      - ccache -s
      - ccache --set-config=compression=true
    script: ./travis.sh core && autobuild/synfigrenderer-regression-test.sh

  - os: osx
    name: "Synfig Studio OS X 10.10 Yosemite (Clang/Autotools/Brew)"
    sudo: required
    osx_image: xcode6.4
    env:
      - HOMEBREW_NO_AUTO_UPDATE=1
      - HOMEBREW_NO_ANALYTICS=1
    cache: ccache
    before_install: brew reinstall libtool # fix no sed
    install: ./1-setup-osx-brew.sh
    before_script:
      - ccache -s
      - ccache --set-config=compression=true
    script: ./travis.sh
    after_script: ccache -s # show ccache stats

  - os: osx
    name: "Synfig Studio OS X 10.13 High Sierra (Clang/Autotools/Brew)"
    sudo: required
    osx_image: xcode10
    env:
      - HOMEBREW_NO_AUTO_UPDATE=1
      - HOMEBREW_NO_ANALYTICS=1
    cache: ccache
    # oclint already uninstalled (fixed in Nov 2018)
    #before_install: brew cask uninstall oclint # fix gcc installing
    install: ./1-setup-osx-brew.sh
    before_script:
      - ccache -s
      - ccache --set-config=compression=true
    script: ./travis.sh
    after_script: ccache -s # show ccache stats

  - os: linux
    name: "Lottie exporter Ubuntu 16.04 Xenial"
    sudo: required
    dist: xenial
    before_install: ./1-setup-linux-native.sh
    script: ./lottie_test.sh


  allow_failures:
  #  - env: CMAKE=true
  #  - os: osx
    - osx_image: xcode10
    - name: "Test render engine for regressions"
    - name: "Lottie exporter Ubuntu 16.04 Xenial"
