@import url("synfig.css");

/*
 * Fix #810: Insensitive context menus on OS X
 */
.window-frame, .window-frame:backdrop {
	box-shadow: none;
	margin    : 0;
}

#parameters_panel {
    font-size: 11pt;
    font-weight: 300;
}
