<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	
	<key>CFBundleGetInfoString</key>
	<string>_VERSION_, © 2001-2008 The Synfig Team</string>
	<key>CFBundleShortVersionString</key>
	<string>_VERSION_</string>
	<key>CFBundleVersion</key>
	<string>_VERSION_</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2001-2008 The Synfig Team</string>
	<key>CFBundleIconFile</key>
	<string>SynfigStudio</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sif</string>
				<string>SIF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sif_file.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/x-sif</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Synfig Animation</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SIF </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.synfig.sif</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sifz</string>
				<string>SIFZ</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sif_file.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/x-compressed-sif</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Synfig Compressed Animation</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SIFZ </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.synfig.sifz</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
