<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgFlagBackgroundAlignment</key>
	<string>left</string>
	<key>IFPkgFlagBackgroundScaling</key>
	<string>none</string>
	<key>IFPkgFlagComponentDirectory</key>
	<string>./Contents/Packages</string>
	<key>IFPkgFlagPackageList</key>
	<array>
		<dict>
			<key>IFPkgFlagPackageLocation</key>
			<string>gettext.pkg</string>
			<key>IFPkgFlagPackageSelection</key>
			<string>selected</string>
		</dict>
		<dict>
			<key>IFPkgFlagPackageLocation</key>
			<string>libpng.pkg</string>
			<key>IFPkgFlagPackageSelection</key>
			<string>selected</string>
		</dict>
		<dict>
			<key>IFPkgFlagPackageLocation</key>
			<string>libjpeg.pkg</string>
			<key>IFPkgFlagPackageSelection</key>
			<string>selected</string>
		</dict>
		<dict>
			<key>IFPkgFlagPackageLocation</key>
			<string>glib.pkg</string>
			<key>IFPkgFlagPackageSelection</key>
			<string>selected</string>
		</dict>
		<dict>
			<key>IFPkgFlagPackageLocation</key>
			<string>pango.pkg</string>
			<key>IFPkgFlagPackageSelection</key>
			<string>selected</string>
		</dict>
		<dict>
			<key>IFPkgFlagPackageLocation</key>
			<string>atk.pkg</string>
			<key>IFPkgFlagPackageSelection</key>
			<string>selected</string>
		</dict>
		<dict>
			<key>IFPkgFlagPackageLocation</key>
			<string>gtk.pkg</string>
			<key>IFPkgFlagPackageSelection</key>
			<string>selected</string>
		</dict>
		<dict>
			<key>IFPkgFlagPackageLocation</key>
			<string>libsigc2.pkg</string>
			<key>IFPkgFlagPackageSelection</key>
			<string>selected</string>
		</dict>
		<dict>
			<key>IFPkgFlagPackageLocation</key>
			<string>glibmm.pkg</string>
			<key>IFPkgFlagPackageSelection</key>
			<string>selected</string>
		</dict>
		<dict>
			<key>IFPkgFlagPackageLocation</key>
			<string>gtkmm.pkg</string>
			<key>IFPkgFlagPackageSelection</key>
			<string>selected</string>
		</dict>
		<dict>
			<key>IFPkgFlagPackageLocation</key>
			<string>libxml2.pkg</string>
			<key>IFPkgFlagPackageSelection</key>
			<string>selected</string>
		</dict>
		<dict>
			<key>IFPkgFlagPackageLocation</key>
			<string>libxmlpp.pkg</string>
			<key>IFPkgFlagPackageSelection</key>
			<string>selected</string>
		</dict>
	</array>
	<key>IFPkgFormatVersion</key>
	<real>0.10000000149011612</real>
</dict>
</plist>
