# This is a basic workflow to help you get started with Actions

name: Synfig (stable)

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ v1.4.x ]
  pull_request:
    branches: [ v1.4.x ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.allow_failures }}
    name: ${{ matrix.name }}
    strategy:
      matrix:
        include:
        - os: macos-10.15
          name: MacOS 10.15 Catalina (Autotools)
          toolchain: autotools-release
          allow_failures: false
        - os: ubuntu-18.04
          name: Ubuntu 18.04 Bionic (Autotools)
          allow_failures: false
          toolchain: autotools-release

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Prepare ccache timestamp
        id: ccache_timestamp
        run: echo "::set-output name=timestamp::`date "+%Y%m%d-%H%M%S"`"

      - name: Download ccache archive
        id: ccache-archive
        uses: actions/cache@v2.1.3
        with:
          path: .ccache
          key: ${{ matrix.os }}-ccache-${{ matrix.toolchain }}-${{ steps.ccache_timestamp.outputs.timestamp }}
          restore-keys:
            ${{ matrix.os }}-ccache-${{ matrix.toolchain }}-

      - name: Install dependencies (Brew)
        if: runner.os == 'macOS'
        env:
          HOMEBREW_NO_AUTO_UPDATE: 1
          HOMEBREW_NO_ANALYTICS: 1
        run: ./1-setup-osx-brew.sh

      - name: Install dependencies (apt)
        if: runner.os == 'Linux'
        run: |
          ./1-setup-linux-native.sh
          sudo apt-get install ccache ninja-build

      - name: Setup ccache parameters and show statistics
        run: |
          ccache --set-config=compression=true
          ccache --set-config=cache_dir=${GITHUB_WORKSPACE}/.ccache
          ccache --show-stats
          ccache -p

      - name: Build (Autotools+Make)
        if: matrix.toolchain == 'autotools-release'
        run: |
          export PATH="/usr/lib/ccache/:${PATH}"
          echo ${PATH}
          ./autobuild/synfigstudio-release.sh

      - name: ccache statistics
        run: ccache --show-stats
