# This is a basic workflow to help you get started with Actions

name: Synfig CI (Self-Hosted)

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
 
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: osx-10.9
    continue-on-error: false
    name: "Synfig Studio (OSX package)"

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: "Synfig Studio (OSX package)"
        run: |
          /home/data/2-data/vm/OSX-10.9-export/actions-runner/morevna-builds.osx/build-synfig.sh https://github.com/$GITHUB_REPOSITORY $GITHUB_REF
